<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
</head>
<body bgcolor="#faf0e6">
<h5 align="center">{{title}}</h5>
<p align="center">
    <video style="background:darkgrey" width="640" height="360" controls="controls" autoplay="autoplay" >
        <source src="./live?v={{id}}" type="video/mp4">
    </video>
</p>
<h5 align="center">
    <a href="./download?v={{id}}">下载此视频</a>
</h5>
<br/>
<h5 align="center">我的项目：
    <a href="https://github.com/gfw-breaker/ssr-accounts">ssr-accounts</a> -
    <a href="https://github.com/gfw-breaker/open-proxy">open-proxy</a> -
    <a href="https://github.com/gfw-breaker/youtube-stream">youtube-stream</a>
</h5>
</body>
</html>

